# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.pytest_cache/

# Entornos virtuales
.venv/
venv/
env/

# Secretos y configs locales
.env
config.py
.streamlit/secrets.toml

# IDE y SO
.idea/
.vscode/
.DS_Store
Thumbs.db
*.log
